body {
  overflow: scroll;
}

.frase {
  font-size: 20px;
  text-align: left;
}

.icones {
  vertical-align: middle;
}

.digitacao {
  font-size: 20px;
  height: 150px;
  border: 3px solid black;
}

.campo-desativado {
  background-color: lightgray;
}

.borda-correta {
  border: 3px solid green;
}

.borda-errada {
  border: 3px solid red;
}

.placar {
  display: none;
}

#erro {
  color: red;
  display: none;
}

#spinner {
  display: none;
}

#input-frase-especifica{
  width: 40px;
}

#botao-sync {
  float: right;
}

.select_usuarios{
  display: inline-block;
}

#usuarios{
  display: block;
}

.selectize-control {
  width: 150px;
  vertical-align: middle;
}

.selectize-input {
  vertical-align: middle;
}